.navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 20px;
    font-size: 1.1em;
    padding: 10px;
}

.navbar-nav .nav-link.active {
    color: #425bc1;
    font-weight: bold;
    background-color: #EBEBEB;
    border-radius: 10px;
}

.kop {
    color: #425bc1;
}

hr {
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

