.jumbotron-home p {
    color: white;
}

h3, h4 {
    color: white;
}

.jumbotron-home {
    border-radius: 10px;
    background: rgb(19,49,128);
    background: linear-gradient(90deg, rgba(19,49,128,1) 0%, rgba(66,91,193,1) 50%, rgba(0,212,255,1) 100%);
    padding: 20px;
    max-width: 900px; /* Adjust the max-width as needed */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); /* Add shadow */
}

/* CSS to ensure equal height for the jumbotron-home elements */
.row.align-items-stretch {
    display: flex;
    align-items: stretch;
}

.col-md-6.d-flex,
.col-md-4.d-flex {
    display: flex;
}

.jumbotron-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.custom-badge {
    font-size: 0.9em;
}

.carousel-inner {
    max-height: 350px;
}

.carousel-item img {
    object-fit: cover;
    max-height: 350px;
}

.image-logo {
    background-color: red;
}
